@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container{
  background-color: #FBD53B;
}

.header{
  display: flex;
  flex-direction: column;
  height: 95vh;
  position: relative;
  overflow-x: hidden;


  padding-bottom: 25px;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  transform: scaleX(1.6);
  border-radius: 0 0 80% 80% / 0 0 100% 100%;
}

.menu{
  display: flex;
  align-items: start;
  justify-content: space-between;
  position: relative;
  padding: 35px 25px 0px 25px;
}

.logoArea{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  position: relative;
  z-index: 1;
  margin-right: 25%;
}

.logo{
  width: 40%;
  position: relative;
  z-index: 1;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 48px;
  line-height: 24px;
}

.navObj{
  margin: 0 35px 0 35px;
  font-size: 2em;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 1;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navObj:focus,
.navObj:hover {
  z-index: 1;
  position: relative;
  color: #fff;
}

.navObj:focus:after,
.navObj:hover:after {
  width: 100%;
  left: 0%;
  position: absolute;
  z-index: 1;
}

.navObj:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #FBD53B;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navBtn{
  margin-left: 35px;
  position: relative;
  z-index: 1;
}

.btnLogin{
  height: 38px;
  width: 138px;
  font-size: 1.8em;
  font-weight: 600;
  font-family: 'Montserrat';
  border-radius: 7px;
  background-color: #FBD53B;
  color: black;
  border: transparent;
  position: relative;
  z-index: 1;
  margin-left: 47px;
}

@media screen and (max-width: 1024px){
	.btnLogin{
		width: 80%;
		height: 80%;
	}
}

.btnLogin:hover{
  padding-inline: 40px;
  background-color: transparent;
  border: 1.5px solid #FBD53B;
  color: #FBD53B;
}

.contentMenu{
  position: relative;
  z-index: 1;
  display: flex;
  margin: auto;
  justify-content: space-around;
  height: 500px;
  align-items: center;
}

.ilustration{
  position: relative;
  z-index: 1;
  width: 390px;
  transform: translateX(680px);
  opacity: 0;
  margin-bottom: 50px;

}

.pageDesc{
  height: 300px;
  width: 540px;
  margin-right: 80px;
  color: white;
  font-weight: bold;
  font-size: 5.4em;
  opacity: 0;
  margin-bottom: 50px;
}

.span{
  color: #FBD53B;
}

.main{
  background-color: #FBD53B;
  height: 800px;
}

.popUp::backdrop{
  background-color: #000000ac;
}

.popUp{
  width: 300px;
  height: 250px;
  margin: auto;
  background-color: #ecbc00;
  border: none;
  border-radius: 25px;
  padding: 20px;
  overflow: hidden;
}

.popupClose{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffffa2;
  font-size: 30px;
  text-align: center;
  border: none;
  color: #000000;
  padding-top: 1px;
  position: absolute;
  left: 300px;
  bottom: 250px;
  cursor: pointer;
}

.popupText{
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: bolder;
  color: #000000;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  width: 90px;
  height: 40px;
}

.popupLink{
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
}

.popupLink:focus,
.popupLink:hover {
  z-index: 1;
  position: relative;
}

.popupLink:focus:after,
.popupLink:hover:after {
  width: 100%;
  left: 0%;
  position: absolute;
  z-index: 1;
}

.popupLink:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: relative;
  width: 0%;
  height: 3px;
  background-color: #ffffff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.contentPopup{
  padding-top: 60px;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}