.container{
    background-color: #161616;
    padding-top: 100px;
}

.loginArea{
    width: 890px;
    height: 720px;
    background-color: rgb(242, 242, 242);
    margin: auto;
    border-radius: 80px;
    display: flex;
    align-items: center;
}

.areaBeekep{
    width: 395px;
    height: 720px;
    border-radius: 80px;
    background-color: #FBD53B;
}